*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* z-index: 1; */
}

.container{
    background-color: #ffffff;
    width: 76%;
    margin-top: 110px;
    margin-left: 10%;
    margin-right: 10%;
    padding: 2% 2%;
    z-index: 1;
}

body{
    background-color: #ffffff;
}

/* width */
::-webkit-scrollbar {
    width: 15px;
}
  
  /* Track */
::-webkit-scrollbar-track {
    background: #ffffff;
}
  
  /* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(107, 157, 173);
}
  
  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(75, 116, 141);
}

/* Nav bar styling start */

nav{
    background-color: #03425e;
    height: fit-content;
    width: 80%;
    color: #ffffff;
    display: inline-block;
    display: flex;
    justify-content: space-between;
    padding-right: 10%;
    padding-left: 10%;
    position: fixed;
    top: 0%;
    z-index: 10;
    box-shadow: 0px 10px 8px #494949;
}

#nav_menu{
    display: flex;
    flex-direction: row;
    margin: 0;
    list-style: none;
}

.nav_link{
    color: #ffffff;
    font-size: 13px;
    padding: 29px 30px;
    display: inline-block;
    font-style: normal;
    text-decoration: none;
}

.nav_link:hover{
    background-color:darkslateblue;
}

#nav_title{
    width: fit-content;
    float: left;
    margin: 18px 30px 25px 30px;
    font-size: 25px;
    font-weight: 350;
    color: #ffffff;
}

.toggler{
    margin-top: 22px;
    margin-bottom: 22px;
    margin-right: 30px;
    background-color: #03425e;
    width: 40px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border: 0px solid #03425e;
    display: none;
}

.toggler_part{
    width: 40px;
    height: 5px;
    display: block;
    background: #ffffff;
}

.nav_mobile_container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media (max-width: 991px) {
    nav{
        padding-left: 5%;
        padding-right: 5%;
        width: 90%;
    }

    #nav_menu{
        display: flex;
        flex-direction: row;
    }
}

@media only screen and (max-width: 768px) {
    #nav_menu{
        flex-direction: column;
        display: none;
    }

    .nav_link{
        width: 100%;
    }

    nav{
        flex-direction: column;
        justify-content: space-between;
        padding-left: 0%;
        padding-right: 0%;
        width: 100%;
    }

    .toggler{
        display:flex;
    }
}

/* Nav bar styling end */

/* Home page styling start */

.home_container{
    background-color: #ffffff00;
}

.header{
    width: 100%;
    padding: 0 0%;
    height: 50vh;
    padding: 125px 0px;
    
    position: relative;
  }
  
  .btn{
    background: red;
    color: #fff;
    padding: 10px 30px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #myVideo {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100vh;
    width: auto;
    height: auto;
    z-index: -100;
  }
  
  .drone {
    text-align: center;
    margin-top: 50px;
    font-weight: bold;
    font-family: arial;
    font-size: 60px;
    color: white;
  }
  
  .drone12 {
    text-align: center;
  
    font-weight: normal;
    font-family: arial;
    font-size: 30px;
    color:white;
    margin-top: 20px;
  }
  
  .section-container
  {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  }
  .section-container .columns
  {
  flex:0 0 auto;
  width:50%;
  }
  .section-container .columns.image
  {
  background-position:center;
  background-repeat:no-repeat;
  background-size:cover;
  }
  .section-container .columns.content .content-container
  {
  padding:40px 50px;
  }
  .section-container .columns.content .content-container h5
  {
  font-weight:700;
  font-size:25px;
  margin-bottom:20px;
  }
  .section-container .columns.content .content-container p
  {
  font-weight:400;
  font-size:16px;
  margin-bottom:20px;
  margin-bottom:15px;
  text-align:justify;
  }
  @media screen and (max-width:767px)
  {
  .section-container
  {
  flex-flow:row wrap;
  }
  .section-container .columns.image{
  display:block;
  order:1;
  width:100%;
  height:250px;
  }
  .section-container .columns.content
  {
  display:block;
  order:2;
  width:100%;
  }
  .section-container .columns.content .content-container
  {
  padding:20px 35px;
  }
  .section-container .columns.content .content-container h5
  {
  margin-bottom:5px;
  }
  }
  
  .quote_container{
      margin-top: 40px;
  }

  .quote{
    float: left;
    width: 100px;
    height: 100px;
  }
  
  .p{
    text-align: center;
    font-size: 25px;
    color: grey;
  }
  
  .bold{
  text-align: center;
  font-size:17px;
  color: grey;
  
  }
  
  hr.new1 {
    border-top: 2px solid #03425e;
    width: 50%;
    text-align: center;
    float: right;
  }
  
  
footer{
    position: fixed;
    bottom: 0;
  
    
  }

  .p-light{
    color: grey;
  }
  
  @media (max-height:800px){
    footer { position: static; }
    header { padding-top:40px; }
  }
  
  
  .footer-distributed{
    background-color: #2c292f;
    box-sizing: border-box;
    /* width: 100%; */
    text-align: left;
    font: bold 16px sans-serif;
    padding: 50px 34px 40px 34px;
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 40px;
  }
  
  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right{
    display: inline-block;
    vertical-align: top;
  }
  
  /* Footer left */
  
  .footer-distributed .footer-left{
    width: 30%;
  }
  
  .footer-distributed h1{
    color:  #ffffff;
    margin: 0;
  }
  
  /* The company logo */
  
  .footer-distributed .footer-left img{
    width: 30%;
  }
  
  .footer-distributed h1 span{
    color:  #ffffff;
  }
  
  /* Footer links */
  
  .footer-distributed .footer-links{
    color:  rgb(201, 201, 201);
    margin: 20px 0 12px;
  }
  
  .footer-distributed .footer-links a{
    display:inline-block;
    line-height: 1.8;
    text-decoration: none;
    color:  inherit;
  }
  
  .footer-distributed .footer-company-name{
    color:  #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
  }
  
  /* Footer Center */
  
  .footer-distributed .footer-center{
    width: 35%;
  }

  
  .footer-distributed .footer-center i{
    background-color:  #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
  }
  
  .footer-distributed .footer-center i.fa-envelope{
    font-size: 17px;
    line-height: 38px;
  }
  
  .footer-distributed .footer-center p{
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin:0;
  }
  
  .footer-distributed .footer-center p span{
    display:block;
    font-weight: normal;
    font-size:14px;
    line-height:2;
  }
  
  .footer-distributed .footer-center p a{
    color:  rgb(201, 201, 201);
    text-decoration: none;;
  }
  
  
  /* Footer Right */
  
  .footer-distributed .footer-right{
    width: 30%;
  }
  
  .footer-distributed .footer-company-about{
    line-height: 20px;
    color:  #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
  }
  
  .footer-distributed .footer-company-about span{
    display: block;
    color:  #ffffff;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .footer-distributed .footer-icons{
    margin-top: 25px;
  }
  
  .footer-distributed .footer-icons a{
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color:  #33383b;
    border-radius: 2px;
  
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
  
    margin-right: 3px;
    margin-bottom: 5px;
  }

  @media (max-width: 991px) {

    .footer-distributed{
        padding-left: 5%;
        padding-right: 5%;
        width: 100%;
    }
  }

  @media (max-width: 870px) {
  
    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right{
      display: block;
      width: 100%;
      margin-bottom: 40px;
      text-align: center;
    }
  
    .footer-distributed .footer-center i{
      margin-left: 0;
    }
  
  }
  
  /*for mobile phones*/
  [class*="col-"] {
    width: 100%;
  }
  
  .home-title{
    font-size: 60px;
  }

  .home-text{
    font-size: 25px;
  }
  
  @media (max-width: 400px) {
  
    .nav-links .btn,
    .drone .drone12,
    .hand .rcorners1{
      display: block;
      width: 100%;
      margin-bottom: 40px;
      text-align: center;
    }

    .footer-distributed{
        padding-left: 1%;
        padding-right: 1%;
        width: 100%;
    }
  }

  @media (max-width: 767px) {

    .home-title{
      font-size: 50px;
    }
  
    .home-text{
      font-size: 13px;
    }
  }

/* Home page styling end */

/* Products page styling start */

#products_header{
    height: 75vh;
    width: 100%;
    background-attachment: fixed;
    background-image: url('../../static/images/Products\ Page\ Background.jpg');
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#products_header_content{
    margin: 0px 60px;
    color: #ffffff;
}

.header_title{
    width: 100%;
    text-align: center;
    color: #ffffff;
}

.header_body{
    text-align: center;
    font-size: small;
    color: #ffffff;
    margin-top: 20px;
}

#search_form{
    width: 275px;
    height: 30px;
    margin: 0 auto;
    margin-top: 40px;
}

#search_input{
    float: left;
    margin-right: 20px;
    width: 200px;
    height: 100%;
    border-radius: 3px;
    color: #03425e;
    border: 1px solid #03425e;
    background-color: #ffffff;
}

#search_submit{
    border-radius: 3px;
    float: left;
    height: 100%;
    background-color: #03425e;
    color: #ffffff;
}

#search_error{
    width: fit-content;
    margin: 0 auto;
    margin-top: 30px;
    font-size: 15px;
}

#products_container{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.product_div{
    display: flex;
    justify-content: space-around;
    width: fit-content;
    padding: 30px 0px 40px 0px;
    flex: 1 1 auto;
    flex-wrap: wrap;
    border-radius: 0px;
    border-bottom: 2px solid lightblue;
}

.product_content{
    float: right;
    height: fit-content;
    width: 300px;   
    margin: 0px 0px 0px 30px;
    color: #03425e;
    display: inline;
}

.product_img{
    width: 175px;
    height: 100%;
    max-height: 175px;
}

.product_description{
    min-width: 200px;
    max-width: 500px;       
}

.buttons_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 175px;
    margin-top: 20px;
}

.buy_btn{
    background-color: #035e31;
    color: #ffffff;
    padding: 10px 15px;
    border: 0px solid #035e31;
    border-radius: 5px;
    box-shadow: 3px 5px 4px #494949;
    text-decoration: none;
}

.wishlist_btn{
    background-color: #ffffff;
    border: 0px solid #ffffff;
    padding: 5px 5px;
    border-radius: 20px;   
}

.wishlist_icon{
    max-width: 35px;
    max-height: 35px;
}

.wishlist_btn:hover{
    background-color: #fccedd;
}

.buy_btn:hover{
    background-color: #046e39;
}

.buy_btn:active{
    box-shadow: 0px 0px 4px #494949;
}

@media (max-width: 991px) {
    .container{
        margin-left: 5%;
        margin-right: 5%;
        width: 86%;
    }
}

@media only screen and (max-width: 767px) {

    .container{
        margin-left: 0%;
        margin-right: 0%;
        width: 96%;
    }
}

@media (max-width: 567px) {

    #search_form{
        margin-bottom: 20px;
    }

    #products_container{
        margin-top: 30px;
    }

    .product_content{
        max-height: 700px;
        min-height: 275px;
        margin: 0 auto;
        margin-top: 20px;
        text-align: center;
    }

    .product_div{
        max-height: 700px;
        padding: 0px 0px 25px 0px;
    }

    .buttons_container{
        margin: 0 auto;
        margin-top: 20px;
    }
}

/* Products page styling end */

/* Login and Register page styling start */

#signin_error{
    position: absolute;
    bottom: 0px;
    text-align: center;
    margin: 20px;
}

#login_background{
    background-image: url('../../static/images/login_background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: blur(0px);
    -webkit-filter: blur(0px);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #ffffff;
}

.login_container{
    position: relative;
    margin: 0 auto;
    max-width: 40%;
    width: auto;
    padding: 20px 10%;
    background-color: #ffffff;
    color: #171717;
    border: 0px solid #ffffff;
    box-shadow: 0px 0px 10px #171717;
    border-radius: 30px;
    z-index: 1;
}

.login_title{
    text-align: center;
    font-size: 40px;
    margin-bottom: 10px;
}

.input{
    border: 0px solid #ffffff;
    color: #171717;
    padding: 10px 7%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 300px;
}

.login_btn{
    margin-right: 35%;
    margin-left: 35%;
    margin-top: 35px;
    margin-bottom: 20px;
    background-color: #171717;
    border: 0px solid #ffffff;
    padding: 7px 20px 7px 20px;
    color: #ffffff;
    text-align: center;
    width: 30%;
    border-radius: 3px;
}

.login_btn:hover{
    background-color: #494949;
}

.input_field{
    background-color: #171717;
    color: #ffffff;
    border-radius: 3px;
    width: 100%;
    height: 25px;
    margin-top: 10px;
}

.input_field:focus{
    box-shadow: 2px 2px 5px #03425e;
}

@media (min-width: 567px) and (max-width: 768px) {
    .login_container{
        max-width: 60%;
        padding: 20px 5%;
    }
    .login_btn{
        margin-left: 30%;
        margin-right: 30%;
        width: 40%;
    }
}

@media (max-width: 567px) {
    .login_container{
        max-width: 90%;
        padding: 20px 2.5%;
    }
    .login_btn{
        margin-left: 25%;
        margin-right: 25%;
        width: 50%;
    }
}

/* Login page styling end */

.errors{
    vertical-align: bottom;
    font-size: 15px;
    background-color: rgb(212, 132, 132);
    border: 2px solid rgb(114, 0, 0);
    color: rgb(114, 0, 0);
    width: 98%;
    text-align: center;
    border-radius: 3px;
    z-index: 1;
    padding: 4px 0.75% 4px 0.75%;
    position: relative;
}

.conformation_title, .conformation_text, .conformation_button{
    display: none;
    text-align: left;
    margin: 0px;
    position: relative;
    z-index: 1;
}

.conformation_title{
    font-size: 80px;
}

.conformation_text{
    margin-top: 20px;
}

.conformation_button{
    background-color: #035e31;
    color: black;
    margin-top: 30px;  
    transition: ease-in 0.2s;
    font-size: 15px;
    text-decoration: none;
    padding: 10px 15px;
    border: 0px solid #171717;
    border-radius: 3px;
    color: #ffffff;
    width: fit-content;
}

.conformation_button:hover{
    background-color: #494949;
}

@media (min-width: 767px) and (max-width: 1100px) {
    .conformation_text {
        font-size: 18px;
    }

    .conformation_title{
        font-size: 70px;
    }
}

@media (min-width: 570px) and (max-width: 767px) {
    .conformation_text {
        font-size: 15px;
    }

    .conformation_title{
        font-size: 55px;
    }
}

@media (max-width: 569px) {
    .conformation_text, .conformation_button {
        font-size: 10px;
    }

    .conformation_title{
        font-size: 35px;
    }
}

/* Register Page styling end */

/* 404 Page styling end */

.title_404, .text_404{
    display: block;
    text-align: left;
    margin: 0px;
    margin-bottom: 20px;
}

/* 404 Page styling end */

/* Signout Page styling end */

#signout_title, #signout_text, #signout_button{
    display: block;
    text-align: left;
    margin: 0px;
    margin-bottom: 30px;
    position: relative;
    z-index: 1;
}

/* Signout Page styling end */

/* Wishlist Page styling start */



/* Wishlist Page styling end */
